<nz-page-header
  class="site-page-header"
  (nzBack)="onBack()"
  nzBackIcon
  nzTitle="{{ class?.name }}"
  nzSubtitle="{{ class?.status | classStatus }}"
>
</nz-page-header>
<hr />
<mat-tab-group class="px-2">
  <mat-tab label="Weeks">
    <EAP-view-weeks *ngIf="class" [class]="class"></EAP-view-weeks>
  </mat-tab>
  <mat-tab label="Schedule">
    <ng-template matTabContent>
      <EAP-view-schedule
        *ngIf="class?.schedules; else noSchedule"
        [scheduleData]="class?.schedules"
      ></EAP-view-schedule>
      <ng-template #noSchedule>
        <div class="m-auto w-1/2 text-center p-10 rounded-lg font-extrabold">
          <nz-empty></nz-empty>
        </div>
      </ng-template>
    </ng-template>
  </mat-tab>
  <mat-tab label="Students">
    <ng-template matTabContent>
      <EAP-view-students [students]="class?.students"></EAP-view-students>
    </ng-template>
  </mat-tab>
  <mat-tab label="Roll Call">
    <ng-template matTabContent> <EAP-rollcall></EAP-rollcall> </ng-template>
  </mat-tab>
  <mat-tab label="Resources">
    <ng-template matTabContent>
      <EAP-view-resources
        *ngIf="class.id"
        [classId]="class.id"
      ></EAP-view-resources>
    </ng-template>
  </mat-tab>
</mat-tab-group>
