<div class="container w-full flex justify-around">
  <article class="w-full p-2">
    <div
      class="
        w-full
        h-full
        bg-item-accent-1
        text-item-primary-1
        rounded-md
        flex flex-col
        items-center
        justify-end
      "
    >
      <div style="font-size: 75px" class="p-8">12</div>
      <h3 class="opacity-75">Homeworks Left!</h3>
    </div>
  </article>
  <article class="w-full p-2">
    <div
      class="
        w-full
        h-full
        bg-item-accent-2
        text-item-primary-2
        rounded-md
        flex flex-col
        items-center
        justify-end
      "
    >
      <div style="font-size: 75px" class="p-8">7</div>
      <h3 class="opacity-75">Octobor 2021</h3>
    </div>
  </article>
  <article class="w-full p-2">
    <div
      class="
        w-full
        h-full
        bg-item-accent-3
        text-item-primary-3
        rounded-md
        flex flex-col
        items-center
        justify-end
      "
    >
      <div style="font-size: 75px" class="p-8">57</div>
      <h3 class="opacity-75">Until Midterm</h3>
    </div>
  </article>
  <article class="w-full p-2">
    <div
      class="
        w-full
        h-full
        bg-item-accent-4
        text-item-primary-4
        rounded-md
        flex flex-col
        items-center
        justify-end
      "
    >
      <div style="font-size: 75px" class="p-8">6</div>
      <h3 class="opacity-75">Absent :(</h3>
    </div>
  </article>
</div>
