<ng-template #cards>
  <div class="container w-full p-4 py-4 flex justify-around">
    <article class="w-full p-2 rounded-lg shadow-2xl bg-item-accent-1">
      <div
        class="
          w-full
          h-full
          text-item-primary-1
          rounded-md
          flex flex-col
          items-center
          justify-end
        "
      >
        <div style="font-size: 75px" class="p-8">653</div>
        <h3 class="opacity-75">Students</h3>
      </div>
    </article>
    <article class="w-full p-2 rounded-lg shadow-2xl bg-item-accent-2">
      <div
        class="
          w-full
          h-full
          text-item-primary-2
          rounded-md
          flex flex-col
          items-center
          justify-end
        "
      >
        <div style="font-size: 75px" class="p-8">36</div>
        <h3 class="opacity-75">Teachers</h3>
      </div>
    </article>
    <article class="w-full p-2 rounded-lg shadow-2xl bg-item-accent-3">
      <div
        class="
          w-full
          h-full
          text-item-primary-3
          rounded-md
          flex flex-col
          items-center
          justify-end
        "
      >
        <div style="font-size: 75px" class="p-8">135</div>
        <h3 class="opacity-75">Online!</h3>
      </div>
    </article>
    <article class="w-full p-2 rounded-lg shadow-2xl bg-item-accent-4">
      <div
        class="
          w-full
          h-full
          text-item-primary-4
          rounded-md
          flex flex-col
          items-center
          justify-end
        "
      >
        <div style="font-size: 75px" class="p-8">129</div>
        <h3 class="opacity-75">Announcement</h3>
      </div>
    </article>
  </div>
</ng-template>
<ng-template #chart1>
  <!-- <div class="chart rounded-lg shadow-2xl bg-green-200">
    <apx-chart
      [series]="areaChart.series"
      [chart]="areaChart.chart"
      [xaxis]="areaChart.xaxis"
      [stroke]="areaChart.stroke"
      [tooltip]="areaChart.tooltip"
      [dataLabels]="areaChart.dataLabels"
    ></apx-chart>
  </div> -->
</ng-template>
<ng-template #chart2>
  <!-- <div class="chart rounded-lg shadow-2xl bg-green-200">
    <apx-chart
      [series]="pieChart.series"
      [chart]="pieChart.chart"
      [labels]="pieChart.labels"
      [responsive]="pieChart.responsive"
    ></apx-chart>
  </div> -->
</ng-template>
<div class="bg-gray-100">
  <div class="w-full head">
    <div class="head-bg"></div>
    <div class="head-content bg-gray-100">
      <div class="profile">
        <img src="../../../../assets/images/default_profile.png" alt="" />
      </div>
      <div class="caption" *ngIf="true">
        <h1>
          {{ "-" | userInfo: "first_name" }} {{ "-" | userInfo: "last_name" }}
        </h1>
        <h3>
          {{ "-" | tokenDecoder: "role" | ACCESS }} ({{
            "-" | userInfo: "username"
          }})
        </h3>
      </div>
      <div class="action mat-typography">
        <button mat-raised-button color="primary" (click)="onEditProfile()">
          <mat-icon>edit</mat-icon>
          Edit Profile
        </button>
        <button mat-stroked-button color="warn" (click)="onLogout()">
          <mat-icon>logout</mat-icon>
          Logout
        </button>
      </div>
    </div>
  </div>
  <mat-tab-group [selectedIndex]="0">
    <mat-tab label="School Data">
      <ng-container *ngTemplateOutlet="cards"></ng-container>
    </mat-tab>
    <!-- <mat-tab label="Students Analysis">
      <ng-container *ngTemplateOutlet="chart1"></ng-container>
    </mat-tab>
    <mat-tab label="Teachers">
      <ng-container *ngTemplateOutlet="chart2"></ng-container>
    </mat-tab>
    <mat-tab label="Announcement"></mat-tab> -->
  </mat-tab-group>
</div>
