<div class="w-full p-2 flex flex-wrap">
  <fieldset class="w-full">
    <form [formGroup]="meeting_form" class="w-full">
      <div class="w-full">
        <mat-form-field class="w-1/2 pr-2" appearance="outline">
          <mat-label>Start Time</mat-label>
          <input
            matInput
            type="time"
            placeholder="Grade A/1 "
            formControlName="startTime"
            required
          />
          <mat-error
            *ngIf="
              meeting_form.get('startTime')?.errors &&
              meeting_form.get('startTime')?.hasError('required')
            "
            >start Time is required</mat-error
          >
        </mat-form-field>
        <mat-form-field class="w-1/2 pl-2" appearance="outline">
          <mat-label>End Time</mat-label>
          <input
            matInput
            type="time"
            placeholder="Grade A/1 "
            formControlName="endTime"
            required
          />
          <mat-error
            *ngIf="
              meeting_form.get('endTime')?.errors &&
              meeting_form.get('endTime')?.hasError('required')
            "
            >end Time is required</mat-error
          >
        </mat-form-field>
        <mat-form-field class="w-1/2 pr-2" appearance="outline">
          <mat-label>day Of Week</mat-label>
          <mat-select formControlName="dayOfWeek" name="dayOfWeek">
            <mat-option *ngFor="let day of getDayOfWeek" [value]="day.value">
              {{ day.label }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              meeting_form.get('dayOfWeek')?.errors &&
              meeting_form.get('dayOfWeek')?.hasError('required')
            "
            >day Of Week is required</mat-error
          >
        </mat-form-field>
      </div>
      <div class="flex w-full justify-end">
        <button
          mat-raised-button
          color="primary"
          [disabled]="meeting_form.invalid || pending"
          (click)="onSubmitMetting()"
        >
          create
        </button>
      </div>
    </form>
  </fieldset>
</div>
<div class="W-[100% -3px] m-4" *ngIf="data.length > 0; else noData">
  <table mat-table [dataSource]="data" class="mat-elevation-z8">
    <ng-container matColumnDef="endTime">
      <th mat-header-cell *matHeaderCellDef>end Time</th>
      <td mat-cell *matCellDef="let element">{{ element.endTime }}</td>
    </ng-container>

    <ng-container matColumnDef="startTime">
      <th mat-header-cell *matHeaderCellDef>start Time</th>
      <td mat-cell *matCellDef="let element">{{ element.startTime }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="dayOfWeek">
      <th mat-header-cell *matHeaderCellDef>day of week</th>
      <td mat-cell *matCellDef="let element">
        {{ dayOfWeekLabel[element.dayOfWeek] }}
      </td>
    </ng-container>

    <ng-container matColumnDef="operation">
      <th mat-header-cell *matHeaderCellDef>Operation</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color="warn" (click)="onDelete(element)">
          delete
        </button>
        <!-- <button mat-button color="assent" (click)="onInfo(element)">
            info
          </button> -->
      </td>
    </ng-container>

    <ng-container matColumnDef="progress">
      <td
        mat-header-cell
        *matHeaderCellDef
        [attr.colspan]="displayedColumns.length"
      >
        <mat-progress-bar mode="indeterminate" *ngIf="pending">
        </mat-progress-bar>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-header-row *matHeaderRowDef="['progress']" style="height: 0px"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<ng-template #noData>
  <loading-section [loading]="pending">
    <div class="m-auto w-1/2 text-center p-10 rounded-lg font-extrabold">
      <nz-empty></nz-empty> 
    </div>
  </loading-section>
</ng-template>
