<div class="p-3 w-full h-full bg-gray-200">
  <div class="w-full rounded-md p-2">
    <mat-stepper linear #stepper>
      <mat-step [stepControl]="personal_form" [editable]="isEditable">
        <form [formGroup]="personal_form" class="mt-8 space-y-6">
          <ng-template matStepLabel>Personal Information</ng-template>
          <div class="w-full">
            <mat-form-field class="w-1/2 pr-1" appearance="outline">
              <mat-label>First Name</mat-label>
              <input
                matInput
                placeholder="john"
                formControlName="first_name"
                required
              />
              <mat-error
                *ngIf="
                  personal_form.get('first_name')?.errors &&
                  personal_form.get('first_name')?.hasError('required')
                "
                >First name is required</mat-error
              >
            </mat-form-field>
            <mat-form-field class="w-1/2 pl-1" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input
                matInput
                placeholder="doe"
                formControlName="last_name"
                required
              />
              <mat-error
                *ngIf="
                  personal_form.get('last_name')?.errors &&
                  personal_form.get('last_name')?.hasError('required')
                "
                >Last name is required</mat-error
              >
            </mat-form-field>
            <mat-form-field class="w-1/2 pr-1" appearance="outline">
              <mat-label>Username</mat-label>
              <input
                matInput
                placeholder="doe"
                formControlName="username"
                required
              />
              <mat-error
                *ngIf="
                  personal_form.get('username')?.errors &&
                  personal_form.get('username')?.hasError('required')
                "
                >Username is required</mat-error
              >
            </mat-form-field>
            <mat-form-field class="w-1/2 pl-1" appearance="outline">
              <mat-label>Email</mat-label>
              <input
                matInput
                placeholder="doe"
                type="email"
                formControlName="email"
                required
              />
              <mat-error
                *ngIf="
                  personal_form.get('email')?.errors &&
                  personal_form.get('email')?.hasError('required')
                "
                >email is required</mat-error
              >
            </mat-form-field>
            <mat-form-field class="w-1/2 pl-1" appearance="outline">
              <mat-label>Password</mat-label>
              <input
                matInput
                placeholder="doe"
                formControlName="password"
                [type]="hidePass ? 'password' : 'text'"
                required
              />
              <button
                mat-icon-button
                matSuffix
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePass"
              >
                <mat-icon (click)="hidePass = !hidePass">{{
                  hidePass ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
              <mat-error
                *ngIf="
                  personal_form.get('password')?.errors &&
                  personal_form.get('password')?.hasError('required')
                "
                >password is required</mat-error
              >
            </mat-form-field>
            <div
              class="inline-block w-1/2 pr-2 text-center"
              style="margin-top: 0"
            >
              <mat-radio-group
                formControlName="role"
                class="flex justify-around"
              >
                <mat-radio-button value="S">Student</mat-radio-button>
                <mat-radio-button value="T">Teacher</mat-radio-button>
                <mat-radio-button value="M">Manager</mat-radio-button>
              </mat-radio-group>
            </div>
          </div>
          <div class="flex w-full justify-end">
            <button
              mat-raised-button
              class="
                bg-green-600
                text-white
                hover:bg-green-700 hover:text-white
                disabled:opacity-50
              "
              type="submit"
              [disabled]="personal_form.invalid || pendding"
              (click)="onRegisterUser(stepper)"
            >
              Create user
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="extra_form" [editable]="isEditable">
        <form [formGroup]="extra_form" class="mt-8 space-y-6">
          <div class="w-full">
            <ng-template matStepLabel>Extra Information</ng-template>
            <mat-form-field class="w-1/2 pr-2" appearance="outline">
              <mat-label>National ID</mat-label>
              <input
                matInput
                placeholder="1234343434"
                formControlName="nationalId"
                required
              />
            </mat-form-field>
            <mat-form-field class="w-1/2 pl-2" appearance="outline">
              <mat-label>Birth Date</mat-label>
              <input
                matInput
                formControlName="birthDate"
                [matDatepicker]="picker"
                required
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="w-1/2 pr-2" appearance="outline">
              <mat-label>phone Number</mat-label>
              <input
                matInput
                placeholder="021 33432101"
                type="tel"
                formControlName="phoneNumber"
                required
              />
            </mat-form-field>
            <mat-form-field class="w-1/2 pl-2" appearance="outline">
              <mat-label>mobile Number</mat-label>
              <input
                matInput
                placeholder="0912 123 4567"
                type="tel"
                formControlName="mobileNumber"
                required
              />
            </mat-form-field>
            <mat-form-field class="w-full" appearance="outline">
              <mat-label>Address</mat-label>
              <textarea
                matInput
                placeholder="17 Shahrivar St."
                formControlName="address"
                rows="5"
              ></textarea>
            </mat-form-field>
          </div>
          <div class="flex w-full justify-end">
            <button
              mat-raised-button
              class="
                bg-green-600
                text-white
                hover:bg-green-700 hover:text-white
                disabled:opacity-50
              "
              type="submit"
              [disabled]="extra_form.invalid || pendding"
              (click)="onupdateExtraInfo(stepper)"
            >
              Submit
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p class="text-green-600">You are now done.</p>
        <div class="flex w-full justify-end">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>
