.dropdown {
  position: relative;
  display: inline-block;
  transition: 1s all;
}

.dropdown-content {
  display: none;
  position: absolute;
  transition: 1s all;

  background-color: #f1f1f1;
  min-width: 260px;
  min-height: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: 1s all;
}

.absent {
  background-color: rgb(255, 95, 95) !important;
  .x {
    color: white;
  }
}
