<div
  class="
    main
    h-screen
    flex
    items-center
    justify-center
    py-12
    px-4
    sm:px-6
    lg:px-8
    bg-gray-100 bg-contain
  "
>
  <img
    class="w-2/5"
    src="../../../../assets/images/logo/logo_full.svg"
    alt=""
  />
  <div class="max-w-md w-full space-y-8 bg-white rounded-md p-6">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Register
      </h2>
    </div>
    <form [formGroup]="forms" (ngSubmit)="onRegister()" class="mt-8 space-y-6">
      <input type="hidden" name="remember" value="true" />
      <div class="w-full">
        <mat-form-field class="w-1/2 pr-1" appearance="outline">
          <mat-label>First Name</mat-label>
          <input
            matInput
            placeholder="john"
            formControlName="first_name"
            required
          />
          <mat-error
            *ngIf="
              forms.get('first_name')?.errors &&
              forms.get('first_name')?.hasError('required')
            "
            >First name is required</mat-error
          >
        </mat-form-field>
        <mat-form-field class="w-1/2 pl-1" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input
            matInput
            placeholder="doe"
            formControlName="last_name"
            required
          />
          <mat-error
            *ngIf="
              forms.get('last_name')?.errors &&
              forms.get('last_name')?.hasError('required')
            "
            >Last name is required</mat-error
          >
        </mat-form-field>
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Username</mat-label>
          <input
            matInput
            placeholder="doe"
            formControlName="username"
            required
          />
          <mat-error
            *ngIf="
              forms.get('username')?.errors &&
              forms.get('username')?.hasError('required')
            "
            >Username is required</mat-error
          >
        </mat-form-field>
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            placeholder="doe"
            type="email"
            formControlName="email"
            required
          />
          <mat-error
            *ngIf="
              forms.get('email')?.errors &&
              forms.get('email')?.hasError('required')
            "
            >email is required</mat-error
          >
        </mat-form-field>
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            placeholder="doe"
            formControlName="password"
            required
          />
          <mat-error
            *ngIf="
              forms.get('password')?.errors &&
              forms.get('password')?.hasError('required')
            "
            >password is required</mat-error
          >
        </mat-form-field>
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Enter password again</mat-label>
          <input
            matInput
            placeholder="doe"
            formControlName="password2"
            required
          />
          <mat-error
            *ngIf="
              forms.get('password2')?.errors &&
              forms.get('password2')?.hasError('required')
            "
            >enter password again here</mat-error
          >
          <mat-error
            *ngIf="
              forms.get('password2')?.value &&
              forms.get('password2')?.value != forms.get('password')?.value
            "
            >password is not the same
          </mat-error>
        </mat-form-field>
      </div>
      <div class="text-center py-2">
        <mat-radio-group formControlName="role" class="flex justify-around">
          <mat-radio-button value="S">Student</mat-radio-button>
          <mat-radio-button value="T">Teacher</mat-radio-button>
          <mat-radio-button value="M">Manager</mat-radio-button>
        </mat-radio-group>
      </div>
      <div>
        <button
          type="submit"
          [disabled]="forms.invalid"
          class="
            group
            relative
            w-full
            flex
            justify-center
            py-2
            px-4
            border border-transparent
            text-sm
            font-medium
            rounded-md
            text-white
            bg-primary-800
            disabled:opacity-50
            hover:bg-primary-900
            focus:outline-none
            focus:ring-2
            focus:ring-offset-2
            focus:ring-indigo-500
            text-center
          "
        >
          <span class="px-2"> Sign Up </span>
          <mat-spinner [diameter]="23" *ngIf="pendding"></mat-spinner>
        </button>
        <div class="text-sm text-start pt-2">
          <a
            [routerLink]="['/auth/login']"
            class="font-medium text-primary-700 hover:text-primary-800"
          >
            Already have an Account?
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
