@import url("https://fonts.googleapis.com/css2?family=Glory:wght@500&display=swap");
body {
  background-color: #fcf0f0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-md-7 {
  margin-top: 100px;
}
#move {
  margin-top: 30px;
  width: 80px;
}
form {
  margin-top: 60px;
  display: flex;
  // justify-content: center;
  // align-items: center;
  background-color: white;

  border-radius: 50%;
}
mat-card {
  border-radius: 10px;

}
mat-card mat-card-title {
  font-weight: bold;
  font-family: "Glory", sans-serif;
  color: #000;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 5px;
}
mat-card p,
#move-text {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 20px;
  font-family: "Glory", sans-serif;
  margin-top: 5px;
}

mat-card mat-card-title {
  margin-top: 5px;
  font-family: "Glory", sans-serif;
}
mat-card button {
  width: 100%;
  margin-top: 10px;
  border-radius: 30px;
  background-color: #ca3a28;
}
#move {
  margin-top: 0px;
  background-color: #d9afa8;
  border-radius: 30px;
  font-family: "Glory", sans-serif;
}
#move-text {
  margin-top: 10px;
}
img {
  width: 75%;
}
#spin ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke:  #CA3A28;
}
mat-spinner {
  margin-top: 15px;
  left: 200px;
}
@media (max-width: 995px) {
  mat-card {
    width: 350px;
    height: 1100px;
  }
  body {
    height: 180vh;
  }
  .col-md-7 {
    display: none;
  }
  mat-card button {
    margin-left: none;
    margin-top: none;
  }
  form {
    border-radius: 0%;
  }
}
@media (min-width: 995px) {
  #min {
    display: none;
  }
}
