<ng-container *ngIf="filesList.length != 0; else noData">
  <nz-collapse class="m-4">
    <ng-container *ngFor="let file of filesList">
      <nz-collapse-panel [nzExtra]="extraTpl" [nzHeader]="file.title">
        <p style="margin: 0; overflow: hidden; overflow-y: scroll">
          {{ file.description }}
        </p>
      </nz-collapse-panel>
      <ng-template #extraTpl>
        <i
          nz-icon
          nzType="download"
          nzTheme="outline"
          (click)="onDownload(imageBaseUrl + file.file)"
        ></i>
      </ng-template>
    </ng-container>
  </nz-collapse>
</ng-container>
<ng-template #noData>
  <nz-empty></nz-empty>
</ng-template>
