<ng-container *ngIf="filesList.length != 0; else noData">
  <nz-collapse class="m-4">
    <ng-container *ngFor="let file of filesList">
      <nz-collapse-panel [nzActive]="true" [nzHeader]="file.title">
        <p style="margin: 0; overflow: hidden; overflow-y: scroll">
          {{ file.description }}
        </p>
        <EAP-file-uploader
          *ngIf="file.filesToShow"
          [files]="file.filesToShow"
          [maxCount]="1"
          [hasDownload]="true"
          [hasDelete]="false"
          [pending]="pending"
          [hasUpload]="false"
        ></EAP-file-uploader>
      </nz-collapse-panel>
    </ng-container>
  </nz-collapse>
</ng-container>
<ng-template #noData>
  <nz-empty></nz-empty>
</ng-template>
