<div class="container w-full p-4 py-14 flex justify-around">
  <article class="w-full p-2">
    <div
      class="
        w-full
        h-full
        bg-item-accent-1
        text-item-primary-1
        rounded-md
        flex flex-col
        items-center
        justify-end
      "
    >
      <div style="font-size: 75px" class="p-8">653</div>
      <h3 class="opacity-75">Students</h3>
    </div>
  </article>
  <article class="w-full p-2">
    <div
      class="
        w-full
        h-full
        bg-item-accent-2
        text-item-primary-2
        rounded-md
        flex flex-col
        items-center
        justify-end
      "
    >
      <div style="font-size: 75px" class="p-8">36</div>
      <h3 class="opacity-75">Teachers</h3>
    </div>
  </article>
  <article class="w-full p-2">
    <div
      class="
        w-full
        h-full
        bg-item-accent-3
        text-item-primary-3
        rounded-md
        flex flex-col
        items-center
        justify-end
      "
    >
      <div style="font-size: 75px" class="p-8">135</div>
      <h3 class="opacity-75">Online!</h3>
    </div>
  </article>
  <article class="w-full p-2">
    <div
      class="
        w-full
        h-full
        bg-item-accent-4
        text-item-primary-4
        rounded-md
        flex flex-col
        items-center
        justify-end
      "
    >
      <div style="font-size: 75px" class="p-8">129</div>
      <h3 class="opacity-75">Announcement</h3>
    </div>
  </article>
</div>
<div class="w-full flex p-4">
  <div style="flex: 60%">
    <apx-chart
      [series]="areaChart.series"
      [chart]="areaChart.chart"
      [xaxis]="areaChart.xaxis"
      [stroke]="areaChart.stroke"
      [tooltip]="areaChart.tooltip"
      [dataLabels]="areaChart.dataLabels"
    ></apx-chart>
  </div>
  <div style="flex: 40%">
    <apx-chart
      [series]="pieChart.series"
      [chart]="pieChart.chart"
      [labels]="pieChart.labels"
      [responsive]="pieChart.responsive"
    ></apx-chart>
  </div>
</div>
