<div
  class="
    w-full
    bg-gray-200
    h-16
    sticky
    top-14
    z-20
    flex
    items-center
    justify-between
    p-2
  "
>
  <div class="flex items-center">
    <input
      class="
        shadow
        appearance-none
        border
        rounded
        w-full
        py-2
        mx-2
        px-3
        text-gray-700
        leading-tight
        focus:outline-none focus:shadow-outline
      "
      id="search"
      type="text"
      placeholder="search"
      [(ngModel)]="searchedValue"
      (input)="onFilterAnnouncements()"
    />
    <span> from </span>
    <input
      class="
        shadow
        appearance-none
        border
        rounded
        w-full
        py-2
        px-3
        mx-2
        text-gray-700
        leading-tight
        focus:outline-none focus:shadow-outline
      "
      id="startDate"
      type="date"
      placeholder="yyyy-mm-dd"
      [(ngModel)]="startDate"
      (input)="onFilterAnnouncements()"
    />
    &nbsp;&nbsp; to &nbsp;&nbsp;
    <input
      class="
        shadow
        appearance-none
        border
        rounded
        w-full
        py-2
        px-3
        ml-3
        text-gray-700
        leading-tight
        focus:outline-none focus:shadow-outline
      "
      id="endDate"
      type="date"
      placeholder="yyyy-mm-dd"
      [(ngModel)]="endDate"
      (input)="onFilterAnnouncements()"
    />
  </div>
  <!-- <mat-button-toggle-group
    name="fontStyle"
    [(value)]="showKind"
    aria-label="Font Style"
  >
    <mat-button-toggle value="list">
      <mat-icon>reorder</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="grid">
      <mat-icon>grid_view</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group> -->
</div>
<ng-container *ngIf="filteredData.length > 0; else noData">
  <div class="flex flex-wrap p-2">
    <div *ngFor="let class of filteredData; let i = index" class="w-1/3 py-2">
      <div class="card border-[1px] shadow-lg m-2 h-[420px]">
        <figure>
          <img
            class="max-h-[215px]"
            *ngIf="class.image; else classImagePlaceHolder"
            src="{{ class.image }}"
          />
          <ng-template #classImagePlaceHolder>
            <img
              class="max-h-[215px]"
              src="../../../../assets/images/image-placeholder.jpg"
            />
          </ng-template>
        </figure>
        <div class="card-body py-2 px-3 justify-between">
          <h2 class="card-title mb-2">
            {{ class.name }} ({{ class.grade }})
            <div class="badge mx-px badge-secondary">
              {{ class.status | classStatus }}
            </div>
            <div class="text-gray-400 px-[7px]" style="font-size: 11px">
              {{ class.startClassDate | date }} -
              {{ class.endClassDate | date }}
            </div>
          </h2>
          <p>
            {{ class.description | longTextCutter: 50 }}
          </p>

          <div class="justify-end card-actions">
            <button
              class="btn bg-red-500 h-m-8 h-8 border-0 mt-0"
              style="font-size: 10px; min-height: 2rem"
            >
              Delete
            </button>
            <button
              class="btn bg-secondary-500 h-m-8 h-8 border-0 mt-0"
              style="font-size: 10px; min-height: 2rem"
              [routerLink]="['', 'manager', 'class-create', class.id]"
            >
              Edit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #noData>
  <loading-section [loading]="pendding">
    <div class="m-auto w-1/2 text-center p-10 rounded-lg font-extrabold">
      <img src="../../../../assets/images/no_data.png" alt="" />
    </div>
  </loading-section>
</ng-template>
