<div class="button-group">
  <button type="button" class="class-management-button">
    <img
      src="../../../../assets/images/icons/icons8-management-50.png"
      width="42px; height=42px ;"
      class="img1"
    />
  </button>
  <button type="button" class="atteudance-button" (click)="clickme()">
    <img
      src="../../../../assets/images/icons/user.png"
      width="42px; height=42px ;"
    /><span class="class-man"></span>
  </button>
  <button type="button" class="educational-files-button">
    <img src="./assets/images/icons/file.png" width="42px; height=42px ;" />
  </button>
  <button type="button" class="report-button">
    <img
      src="./assets/images/icons/fluctuation.png"
      width="42px; height=42px ;"
    />
  </button>
</div>

<!--</div>	-->

<div class="row">
  <div class="ann-box">
    <div class="ann-box-title">
      <div class="add-announcement">
        <a routerLink="/teacher/announcement"><i class="bi bi-plus-lg"></i></a>
      </div>
      <div class="add-announcement">
        <a
          ><i
            class="bi bi-arrow-clockwise"
            (click)="fetchDataFromService()"
          ></i>
        </a>
      </div>
      <div class="ti">Announcement</div>
    </div>

    <div class="ann">
      <div class="content">
        <div
          *ngFor="let person of personList; let id = index"
          class="ann-content"
        >
          <a class="title" href="#">
            <span
              (keyup)="changeValue(id, 'tit', $event)"
              (blur)="updateList(id, 'tit', $event)"
              contenteditable="true"
              >{{ person.tit }}
            </span>
          </a>
          <p class="pragraph">
            <span
              contenteditable="true"
              (keyup)="changeValue(id, 'ann', $event)"
              (blur)="updateList(id, 'ann', $event)"
              >{{ person.ann }}</span
            >
          </p>
          <button type="button" size="15px" class="my-0" (click)="remove(id)">
            <i class="bi bi-trash-fill"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="table-border">
      <div class="table-title-div">
        <div class="table-img">
          <i class="bi bi-calendar-week" width="25px" height="25px"></i>
        </div>
        <div class="table-title">Schedule-table</div>
      </div>

      <table class="schedule-table">
        <tr>
          <th>12:00-13:00</th>
          <th>11:00-12:00</th>
          <th>10:00-11:00</th>
          <th>9:00-10:00</th>
          <th>8:00-9:00</th>
          <th>course time</th>
        </tr>
        <tr>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>Saturday</td>
        </tr>
        <tr>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>Sunday</td>
        </tr>
        <tr>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>Monday</td>
        </tr>
        <tr>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>Tuesday</td>
        </tr>
        <tr>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>Wednesday</td>
        </tr>
        <tr>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>...</td>
          <td>Thursday</td>
        </tr>
      </table>
    </div>
    <div class="chart"></div>
  </div>
</div>
