.continar {
	position: relative;
	right: 2.5%;
	width: 100%;
}
.demo-inline-calendar-card {
	width: 300px;
	height: 350px;
	float: right;
  }

.button-group {
	position: relative;
	right: 2.5%;
	top: 20px;
	display: inline;
}
.button-group button {
    width: 23%;
    height: 60px;
    margin-left: 1%;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #ccc;
    float: right;
    font-size: 16px;
}	

.button-group img {
	margin-left: 40%;
}
.button-group .report-button {
    border-top: 2px solid rgba(248,192, 105, 1);
} 
.button-group .report-button:hover{
	background-color: rgba(248,192, 105, 1);
} 
.button-group .class-management-button {
    border-top: 2px solid #d685f0;
}
.button-group .class-management-button:hover{
	background-color: #d685f0;
} 
.button-group .atteudance-button {
	border-top: 2px solid rgba(69,215, 241, 1);
}
.button-group .atteudance-button:hover {
	background-color: rgba(69,215, 241, 1);
}
.button-group .educational-files-button {
	border-top: 2px solid rgba(65,195, 94, 1);
}
.button-group .educational-files-button:hover {
	background-color: rgba(65,195, 94, 1);
}

.Class-manaement {
	font-size: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
}



.column {
	width: 64%;
	height: 350px;
	margin-right: 2%;
	float: right;
}

div.chart1 {
	width: 99%;
	height: 350px;
    background-color: white;
	border-radius: 10px;
	float: right;
	box-shadow: 0 4px 8px 0 rgba(153, 152, 152, 0.192), 0 6px 20px 0 rgba(160, 160, 160, 0.11);
}
#chart {
	width: 80%;
	margin-top: 5%;
}
.table-border {
	background-color: white;
	width: 95%;
	height: 500px;
	margin-top: 5%;
	float: right;
	/*margin-left: 2.5%;*/
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(153, 152, 152, 0.192), 0 6px 20px 0 rgba(160, 160, 160, 0.11);
}
.table-title-div {
	display: inline;
}
.table-title-div a{
	float: left;
}

.table-title {
	padding-top: 30px;
	margin-left: 5px;
	margin-bottom: 10px;
	text-align: left;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
}

table.schedule-table {
	border-collapse: collapse;
	border: 1px solid rgb(230, 229, 229);
	border-radius: 10px;
	margin-right: 2%;
	margin-left: 2%;
	background-color: rgba(245, 243, 243, 0.466);		
	font-family: Arial, Helvetica, sans-serif;
	width: 96%;
	height: 400px;
	float: right;
}

td, tr ,th {
	color: rgb(73, 73, 73);
	font-size: 17px;
	border: 1px solid rgb(231, 231, 231);
	border-radius: 8px;
	text-align: center;
	margin: 5px;
	padding: 2px;
}
/*tr:nth-child(even) {background-color: #f5f5f5;}*/
td:hover {
	background-color: #f0f0f0;
}
th {
	height: 60px;
	border-top: 2px solid #b4b4b4;
	border-bottom: 1px solid #b4b4b4;
	background-color: #ffffff;
	color: rgb(107, 107, 107);
	font-size: 17px;
	font-weight: bold;
	padding: 8px;
}
td {
	border-radius: 80px;
	margin: 15px;
}

.table-title-div {
	display: inline;
	float: left;
}
.table-img {
	float: left;
	padding-top: 30px;
	margin-left: 20px;
	margin-bottom: 10px;
}
.class-man {
	margin-bottom: 20px;
}
/*------------------------------------------------*/


.row {
	position: relative;
	/*right: 2.5%;*/
	top: 20px;
	width: 100%;
	height: 350px;
}
.ann-box {
	position: relative;
	right: 2.5%;
	background-color: white;
	width: 95%;
	float: right;
	margin-top: 20px;
	/*margin-left: 1%;*/
	border: 1px solid #ccc;
	border-radius: 10px;
	overflow-y: hidden;
}

.ann-box .ann-box-title {
	background-color: white;
	height: 50px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 15px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}
.ann-box-title .ti {
	float: left;
}

.add-announcement a {
	float: right;
	font-size: 15px;
	margin-left: 8px;
    text-decoration: none; 
}

.ann {
	background-color: white;
	width: 100%;
	/*height: 450px;*/
	font-family: Arial, Helvetica, sans-serif;
	/*overflow-y: scroll;*/
	overflow-y: hidden;	
	overflow-x: hidden;
}

.ann::webkit-scrollbar {
	display: none;
}

.ann .title {
	color: #202020;
	font-weight: bold;
}
.content {
    margin-left: 0px;
	
}
.ann-content button {
	float: right;
	color: red;
}
.content div {
	width: 100%;
	/*height: 60px;*/
	padding:10px;
	background-color: white;
	border-top: 1px solid #ccc;
	overflow-y: hidden;
}
.content a{
	text-decoration: none;
	font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

div.tile {
	height: 30px;
	margin-top: 20px;
}
hr {
	border: 1px solid #f2f2f2;
}