<body>
	<div class="button-group">
		<button type="button" class="class-manaement-button">Class manaement</button>
		<button type="button" class="atteudance-button">Atteudance</button>
		<button type="button" class="educational-files-button">Educational files</button>
	</div>
	<div class="row">
		<div class="ann-box">
			<div class="ann-box-title">
				<div class="ti">Announcement</div>
				<div class="add-announcement"><a routerLink="/teacher/announcement">+</a></div>
			</div>
			<hr>
			<div class="ann">
			<div class="content">
				
				<div >
					<a class="title" href="#">Hosin</a>
					<p class="pragraph">Asslam alik ya aba abd allah. ina jaddea al hosin kotela atshana</p>
				</div>
				
				<div >
					<a class="title" href="#">Hosin</a>
					<p class="pragraph">Asslam alik ya aba abd allah</p>
				</div>
				
				<div >
					<a class="title" href="#">Hosin</a>
					<p class="pragraph">Asslam alik ya aba abd allah</p>
				</div>
				
				<div >
					<a class="title" href="#">Hosin</a>
					<p class="pragraph">Asslam alik ya aba abd allah</p>
				</div>

				<div >
					<a class="title" href="#">Hosin</a>
					<p class="pragraph">Asslam alik ya aba abd allah</p>
				</div>
				
			</div>
		</div>
		</div>	
		<div class="table-border">
			<div class="table-title">Table title</div>
		<table class="schedule-table">
				<tr>
				<th>12:00-13:00</th>
				<th>11:00-12:00</th>
				<th>10:00-11:00</th>
				<th>9:00-10:00</th>
				<th>8:00-9:00</th>
				<th>course time</th>
			</tr>
			<tr>
				<td>...</td>
				<td>...</td>
				<td>...</td>
				<td>...</td>
				<td>...</td>
				<td>Saturday</td>
			</tr>
			<tr>
				<td>...</td>
				<td>...</td>
				<td>...</td>
				<td>...</td>
				<td>...</td>
				<td>Sunday</td>
			</tr>
			<tr>
				<td>...</td>
				<td>...</td>
				<td>...</td>
				<td>...</td>
				<td>...</td>
				<td>Monday</td>
			</tr>
			<tr>
				<td>...</td>
				<td>...</td>
				<td>...</td>
				<td>...</td>
				<td>...</td>
				<td>Tuesday</td>
			</tr>
			<tr>
				<td>...</td>
				<td>...</td>
				<td>...</td>
				<td>...</td>
				<td>...</td>
				<td>Wednesday</td>
			</tr>
			<tr>
				<td>...</td>
				<td>...</td>
				<td>...</td>
				<td>...</td>
				<td>...</td>
				<td>Thursday</td>
			</tr>
			</table>
			</div>
		</div>
</body>