<div class="container w-full flex justify-around">
  <article class="w-full p-2">
    <div
      class="
        w-full
        h-full
        bg-item-1
        rounded-md
        flex flex-col
        items-center
        justify-end
      "
    >
      <div style="font-size: 75px" class="text-white p-8">12</div>
      <h3 class="opacity-75">Homeworks Left!</h3>
    </div>
  </article>
  <article class="w-full p-2">
    <div
      class="
        w-full
        h-full
        bg-item-1
        rounded-md
        flex flex-col
        items-center
        justify-end
      "
    >
      <div style="font-size: 75px" class="text-white p-8">12</div>
      <h3 class="opacity-75">Homeworks Left!</h3>
    </div>
  </article>
  <article class="w-full p-2">
    <div
      class="
        w-full
        h-full
        bg-item-1
        rounded-md
        flex flex-col
        items-center
        justify-end
      "
    >
      <div style="font-size: 75px" class="text-white p-8">12</div>
      <h3 class="opacity-75">Homeworks Left!</h3>
    </div>
  </article>
  <article class="w-full p-2">
    <div
      class="
        w-full
        h-full
        bg-item-1
        rounded-md
        flex flex-col
        items-center
        justify-end
      "
    >
      <div style="font-size: 75px" class="text-white p-8">12</div>
      <h3 class="opacity-75">Homeworks Left!</h3>
    </div>
  </article>
</div>
