<div class="alert1">
   <ngb-alert #selfClosingAlert *ngIf="successMessage" type="success" (closed)="successMessage = ''">{{ successMessage }}
   </ngb-alert>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Do you want to save changes</p>
    <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
  </div>
</ng-template>

<div class="message">
 
</div>
<div class="row1">
    <div class="title">Rollcall Operation</div>
    <div class="current-time">
     
    </div>
  </div>
 
  
 
 <div class="container">
     <div class="row">
       <div class="col-md-12 mx-auto">
         <div class="md-form">
           <input
             type="text"
             [(ngModel)]="searchText"
             class="search-input"
             id="search"
             mdbInput
             placeholder="Search on a student..."
           />
           
           <button class="save" (click)="openModal(template)">save</button>
          
         </div>
       </div>
     </div>
     <table mdbTable class="rollcall-list">
       <thead>
         <tr>
           <th
             *ngFor="let head of headElements; let i = index"
             scope="col"
           >
             {{head}}
           </th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let el of attendanceList; let i = index">
           <th scope="row" style="width: 4%;">{{el.id}}</th>
           <td style="width: 54%;" class="red-text">student- {{el.student}}</td>
           <td class ="absent" style="width: 10%;"><input *ngIf = "!el.present" type="checkbox"
                                    id="absent"
                                    [checked] = "!el.present"
                                    [value] = "el.id"
                                    (change) = "onChangeAbsent($event)">
           </td>
           <td class = "present" style="width: 10%;"><input *ngIf = "el.present" type="checkbox" 
                                    id = "present"
                                    [checked] = "el.present"
                                    [value] = "el.id"
                                    (change) = "onchange($event)">
           </td>
         </tr>
       </tbody>
     </table>
   </div>
   