.getImage {
  display: block;
  width: 100%;
  text-align: center;
  cursor: pointer;
  .dragField {
    width: 98%;
    margin: 10px;
    border-radius: 10px;
    border: 1px dashed #d0d0d0;
    text-align: center;
    background-color: #f8f8f8;
    h3 {
      margin: 40px auto;
      margin-bottom: 0;
      font-weight: 700;
      color: #9b9b9b;
    }
    h6 {
      margin: 40px auto;
      margin-top: 8px;
      font-weight: 500;
      color: #9b9b9b;
    }
  }
  .inputField {
    display: none;
  }
}
