<div class="overflow-x-auto">
  <table class="table w-full">
    <thead>
      <tr>
        <th></th>
        <th *ngFor="let time of times">{{ time }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let day of days; let i = index" class="hover:bg-green-50">
        <th>{{ day }}</th>
        <td class="text-center p-auto" *ngFor="let time of scheduleMap[i]">
          <p
            [class]="
              time.subject ? 'px-4 py-2 m-auto rounded-md bg-green-200' : ''
            "
          >
            {{ time.subject | classSubject }}
          </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
