<nz-page-header
  class="site-page-header"
  (nzBack)="onBack()"
  nzBackIcon
  nzTitle="{{ asignment.title }}"
>
  <nz-page-header-extra>
    <button
      mat-raised-button
      class="
        bg-green-600
        text-white
        hover:bg-green-700 hover:text-white
        disabled:opacity-50
      "
      (click)="onSubmit()"
      [disabled]="pending || !file"
    >
      Submit asignment
    </button>
  </nz-page-header-extra>
</nz-page-header>
<div class="w-full">
  <nz-divider [nzText]="text" nzOrientation="left">
    <ng-template #text>
      <span class="flex justify-center items-center">
        <i nz-icon nzType="edit" class="px-2"></i>
        Question :
        <span
          class="cursor-pointer text-secondary-900"
          (click)="onDownload(imageBaseUrl + asignment.file)"
        >
          (click to download resource
          <i
            nz-icon
            nzType="download"
            class="px-2 text-2xl text-secondary-750"
          ></i
          >)
        </span>
      </span>
    </ng-template>
  </nz-divider>
  <p class="m-1 p-3 border-2 border-gray-200 rounded-lg text-lg">
    {{ asignment.description }}
  </p>
</div>
<div class="w-full">
  <nz-divider [nzText]="text1" nzOrientation="left">
    <ng-template #text1>
      <span class="flex justify-center items-center">
        <i nz-icon nzType="edit" class="px-2"></i>
        Write your answer
      </span>
    </ng-template>
  </nz-divider>
  <mat-form-field class="w-full" appearance="outline">
    <textarea
      matInput
      placeholder="type your solutions ... "
      rows="8"
    ></textarea>
  </mat-form-field>
</div>
<div class="w-full">
  <nz-divider [nzText]="text3" nzOrientation="left">
    <ng-template #text3>
      <span class="flex justify-center items-center">
        <i nz-icon nzType="edit" class="px-2"></i>
        Upload your asignment *
      </span>
    </ng-template>
  </nz-divider>
  <div class="getImage w-[100% - 1rem] h-80 m-2">
    <div
      class="
        dragField
        p-2
        rounded-lg
        w-full
        h-full
        flex
        justify-center
        items-center
        border-dotted border-2 border-gray-400
      "
      [ngClass]="{ 'bg-green-50': file }"
      (click)="input.click()"
      (fileDropped)="upload($event, 1)"
      DragDropFileUpload
    >
      <span class="block text-center pe-auto">
        <h2>
          {{
            !file
              ? "choose a file to upload"
              : "file Added :" + (file?.name ?? "")
          }}
        </h2>
        <h6>(you can also drag and drop)</h6>
        <button
          *ngIf="file"
          mat-icon-button
          (click)="$event.stopPropagation(); file = undefined"
        >
          <mat-icon class="cursor-pointer hover:scale-[0.1]">close </mat-icon>
        </button>
      </span>
    </div>
    <input class="inputField" #input (change)="upload($event, 2)" type="file" />
  </div>
</div>
