<nz-page-header
  class="site-page-header"
  (nzBack)="onBack()"
  nzBackIcon
  nzTitle="asignment id : {{ asignment.id }}"
>
  <nz-page-header-extra>
    <button
      mat-raised-button
      class="
        bg-green-600
        text-white
        hover:bg-green-700 hover:text-white
        disabled:opacity-50
      "
      (click)="onSubmit()"
      [disabled]="pending || !file"
    >
      Submit asignment
    </button>
  </nz-page-header-extra>
</nz-page-header>
<div class="w-full">
  <nz-divider [nzText]="text" nzOrientation="left">
    <ng-template #text>
      <span class="flex justify-center items-center">
        <i nz-icon nzType="edit" class="px-2"></i>
        {{ asignment.title }}
      </span>
    </ng-template>
  </nz-divider>
  <p class="m-1 p-3 border-2 border-gray-200 rounded-lg text-lg">
    {{ asignment.description }}
  </p>
  <div class="border-1 border-gray-400 w-32 h-32 bg-gray-100 cursor-pointer">
    <img
      (click)="onDownload(imageBaseUrl + asignment.file)"
      src="../../../../../assets/images/file-placeholder.jpg"
    />
  </div>
</div>
<div class="w-full">
  <nz-divider [nzText]="text1" nzOrientation="left">
    <ng-template #text1>
      <span class="flex justify-center items-center">
        <i nz-icon nzType="edit" class="px-2"></i>
        Write your answer
      </span>
    </ng-template>
  </nz-divider>
  <mat-form-field class="w-full" appearance="outline">
    <textarea
      matInput
      placeholder="type your solutions ... "
      rows="8"
    ></textarea>
  </mat-form-field>
</div>
<div class="w-full">
  <nz-divider [nzText]="text3" nzOrientation="left">
    <ng-template #text3>
      <span class="flex justify-center items-center">
        <i nz-icon nzType="edit" class="px-2"></i>
        Upload your asignment *
      </span>
    </ng-template>
  </nz-divider>
  <div class="getImage w-[100% - 1rem] h-80 m-2">
    <div
      class="
        dragField
        p-2
        rounded-lg
        w-full
        h-full
        flex
        justify-center
        items-center
        border-dotted border-2 border-gray-400
      "
      [ngClass]="{ 'bg-green-50': file }"
      (click)="input.click()"
      (fileDropped)="upload($event, 1)"
      DragDropFileUpload
    >
      <span class="block text-center pe-auto">
        <h2>
          {{!file ?'choose a file to upload':'file Added :{{ file?.name}}'}}
        </h2>
        <h6>(you can also drag and drop)</h6>
        <mat-icon (click)="file = undefined">close</mat-icon>
      </span>
    </div>
    <input class="inputField" #input (change)="upload($event, 2)" type="file" />
  </div>
</div>
